
.row, .row > *{
    --bs-gutter-x: 0 !important;
}
.side-left{
    background: url(../../public/images/jpg/bg-auth.jpg) rgba(0, 123, 255, 0.3);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 0 !important;
    margin-bottom: -10px !important;
    display: none;
}

.login-container{
    height: 100vh;
    overflow: hidden;
}


@media (min-height: 900px) {
    .body {
      overflow: hidden;
    }
  }

@media (min-width: 768px) {
    .side-left {
      display: block;
    }
  }